body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.box {
    background-color: white;
    padding: 50px 100px;
    border: 5px solid black;
    border-radius: 20px;
}

p {
    font-size: 200%;
}

input {
    height: 50px;
    width: 250px;
}

button {
    background-color: pink;
    height: 50px;
    width: 260px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}